@import "tailwindcss";

html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

body {
  @apply bg-gray-950 text-gray-100;
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
}

.section {
  @apply h-screen w-full snap-start overflow-hidden;
  scroll-snap-align: start;
}

.progress-bar {
  @apply h-1 bg-blue-500 transition-all duration-300 ease-in-out;
}
